<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <meta charset="UTF-8"/>
    <title>UdiPet - Listar Clínicas Cadastradas</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome da clinica</th>
                    <th>CNPJ</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clinica, iter: ${clinicas}">
                    <th scope="row" th:text="${clinica.id}">1</th>
                    <td th:text="${clinica.nome}"></td>
                    <td th:text="${clinica.cnpj}"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações">
                            <a th:href="@{/plano/editar(id=${clinica.id})}" ><span class="oi oi-pencil" style="margin:0 15px" title="Editar"></span></a>   
                       		<a th:href="@{/plano/excluir(id=${clinica.id})}" ><span class="oi oi-trash" style="color:red" title="Excluir"></span></a>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
              <a th:href="@{/clinica/novo}" class="btn btn-primary"><span class="btn-large oi oi-file" style="color:white" title="Novo Registro"></span></a>
        </div>
    </div>
</div>
</body>
</html>